[submodule ".registry"]
	path = .registry
	url = https://github.com/selkamand/universe
	shallow = true
	branch = HEAD
[submodule "utilitybeltgg"]
	path = utilitybeltgg
	url = https://github.com/selkamand/utilitybeltgg
	shallow = true
	registered = true
